[submodule "src/ga"]
	path = src/ga
	url = https://github.com/GlobalArrays/ga.git
	branch = feature/init-comm
[submodule "python/pybind11"]
	path = python/pybind11
	url = https://github.com/pybind/pybind11.git
