Source: gridpack
Section: science
Priority: optional
Maintainer: William A. Perkins <william.perkins@pnnl.gov>
Build-Depends: cmake, build-essential
Homepage: https://www.gridpack.org

Package: gridpack-dev
Architecture: any
Depends: libga-dev (>=5.3), libpetsc3.6.2-dev (>= 3.6.2), libparmetis-dev (>=4.0.3), 
  libboost-mpi-dev (>=1.58.0), libboost-all-dev (>=1.58.0)
Summary: An open source toolkit for developing power grid simulation
  applications for high performance computing architectures.
Description: GridPACK(tm) is a software framework consisting of a set
  of modules designed to simplify the development of programs that model
  the power grid and run on parallel, high performance computing
  platforms. The modules are available as a library and consist of
  components for setting up and distributing power grid networks,
  support for modeling the behavior of individual buses and branches in
  the network, converting the network models to the corresponding
  algebraic equations, and parallel routines for manipulating and
  solving large algebraic systems. Additional modules support input and
  output as well as basic profiling and error management.
