#!/usr/bin/make -f

BUILDDIR = build_dir

# secondly called by launchpad
build-arch:
	mkdir $(BUILDDIR);
	cd $(BUILDDIR); \
	cmake \
	-D PETSC_DIR:STRING="/usr/lib/petscdir/3.6.2" \
	-D PETSC_ARCH:STRING="x86_64-linux-gnu-real" \
	-D PARMETIS_DIR:PATH="/usr" \
	-D GA_EXTRA_LIBS:STRING="-lscalapack-openmpi -lblacsCinit-openmpi -lblacs-openmpi -llapack -lblas -lgfortran" \
	-D MPI_CXX_COMPILER:STRING="mpicxx" \
	-D MPI_C_COMPILER:STRING="mpicc" \
        -D USE_GLPK:BOOL=ON \
        -D GLPK_ROOT_DIR:PATH="/usr" \
        -D BUILD_SHARED_LIBS:BOOL=ON \
	-D CMAKE_BUILD_TYPE:STRING="Release" \
	-D CMAKE_INSTALL_PREFIX:PATH="/usr" \
	../src
	make -C $(BUILDDIR)

build: build-indep build-arch

.PHONY: build build-arch build-indep clean

build-indep:
	# nothing to be done

# thirdly called by launchpad
binary: binary-indep binary-arch

binary-indep:
	# nothing to be done

binary-arch:
	make -C $(BUILDDIR) install/strip  DESTDIR="../debian/tmp/"
	mkdir debian/tmp/DEBIAN
	dpkg-gencontrol -pgridpack-dev
	dpkg --build debian/tmp ..

# firstly called by launchpad
clean:
	rm -f build
	rm -rf debian/tmp
	rm -rf $(BUILDDIR)

.PHONY: binary binary-arch binary-indep clean
