#!/usr/bin/make -f

BUILDDIR = build_dir

CFLAGS += -pthread
CXXFLAGS += -pthread
export CFLAGS
export CXXFLAGS
# export DH_VERBOSE = 1

# Not needed if building and installing GA w/ GridPACK
#
# Global Arrays needs different libraries depending on the OS release
# distname := $(system lsb_release -cs)
# ifeq ($(distname), "xenial")
# GA_LIBS = -lscalapack-openmpi -lblacsCinit-openmpi -lblacs-openmpi -llapack -lblas -lgfortran
# else ifeq ($(distname), "stretch")
# GA_LIBS = -lscalapack-openmpi -lblacs-openmpi -llapack -lblas -lgfortran
# else ifeq ($(distname), "bionic")
# GA_LIBS = -lscalapack-openmpi -lblacs-openmpi -llapack -lblas -lgfortran
# endif

%:
	dh $@ --build-system=cmake --sourcedirectory=src

override_dh_auto_configure:
	dh_auto_configure -- \
	-DPETSC_DIR:STRING="/usr/lib/petsc" \
	-DPARMETIS_DIR:PATH="/usr" \
	-DBUILD_GA:BOOL=ON \
	-DMPI_CXX_COMPILER:STRING="mpicxx" \
	-DMPI_C_COMPILER:STRING="mpicc" \
        -DUSE_GLPK:BOOL=ON \
        -DGLPK_ROOT_DIR:PATH="/usr" \
        -DBUILD_SHARED_LIBS:BOOL=ON


